<%= render(:partial => "shared/release_nav", :object => @current_release, :locals => { :releases => @releases, :action => 'qublockers' }) %>


<h2><%= @current_release.description %> </h2>
<table class="buglist" cellpadding="0" cellspacing="0" width="100%">
<tr class="buglist-over"><td><%= @covered.length %> bugs covered out of <%= @total_bugs %> are <a name="Covered"></a>covered by an errata. (<a href="#Uncovered">Goto Uncovered</a>)</td></tr>
<% bz_class = 'bz_odd'
 for filed in @covered.sort {|a,b| a.bug_id <=> b.bug_id}
   if(bz_class == 'bz_even')
     bz_class = 'bz_odd'
    else
      bz_class = 'bz_even'
    end
 %>
<tr class="<%= bz_class %>"><td><%= link_to filed.errata.advisory_name, :controller => 'errata', :action => 'show', :id => filed.errata.id %> fixes
<%= descriptive_bug_link(filed.bug) %></td></tr>
<% end %>
</table>

<table class="buglist" cellpadding="0" cellspacing="0" width="100%">
<tr class="buglist-over"><td><%= @total_bugs - @covered.length %> <a name="Uncovered"></a>uncovered bugs out of <%= @total_bugs %>. (<a href="#Covered">Goto Covered</a>)</td></tr>

<% bz_class = 'bz_odd'
 for component in @uncovered_by_component.keys.sort {|a,b| a.name <=> b.name}
   if(bz_class == 'bz_even')
     bz_class = 'bz_odd'
    else
      bz_class = 'bz_even'
    end
 %>
<% for bug in @uncovered_by_component[component] %>
<%= issue_row(bz_class, bug, :bug) %>
<% end %>
<% end %>

</table>


