<% if can_edit_mgmt_items? %>
  <h3>Create</h3>
  <ul>
    <li><%= modal_link(icon_btn_text("#{Channel.display_name}",:plus), new_product_version_channel_path(@product_version, :variant_id => @variant)) %></li>
    <li><%= modal_link(icon_btn_text("#{CdnRepo.display_name}",:plus), new_product_version_cdn_repo_path(@product_version, :variant_id => @variant)) %></li>
  </ul>
<% end %>

<h3>Back to</h3>
<ul>
  <li><%= link_to "#{@product_version.canonical_short_name} Product version", product_version_path(@product_version) %></li>
  <li><%= link_to "#{@product_version.product.canonical_short_name} Product", product_path(@product_version.product) %></li>
  <li><%= link_to "All Products", products_path %></li>
</ul>
