<% if can_edit_mgmt_items? %>
  <h3>Create</h3>
  <ul>
    <li><%= link_to icon_btn_text('Variant',:plus), new_product_version_variant_path(@product_version), :id => 'new_variant' %></li>
    <li><%= modal_link(icon_btn_text("#{Channel.display_name}",:plus), new_product_version_channel_path(@product_version)) %></li>
    <li><%= modal_link(icon_btn_text("#{CdnRepo.display_name}",:plus), new_product_version_cdn_repo_path(@product_version)) %></li>
  </ul>
<% end %>

<h3>Related</h3>
<ul>
  <li><%= link_to "#{Channel.display_name.pluralize} for #{product_version.canonical_short_name}", product_version_channels_path(product_version) %></li>
  <li><%= link_to "#{CdnRepo.display_name.pluralize} for #{product_version.canonical_short_name}", product_version_cdn_repos_path(product_version) %></li>
  <li><%= link_to "Variants for #{product_version.canonical_short_name}", product_version_variants_path(product_version) %></li>
  <li><%= link_to "Released Packages", :controller=>:release_engineering, :action=>:released_packages, :id=>product_version %></li>
</ul>

<h3>Back to</h3>
<ul>
  <li><%= link_to "#{product_version.product.canonical_short_name} Product Versions", product_product_versions_path(product_version.product) %></li>
  <li><%= link_to "#{product_version.product.canonical_short_name} Product", product_path(product_version.product) %></li>
  <li><%= link_to "All Products", products_path %></li>
</ul>
