<%= form_tag({:action => 'pdc_product_listings'}, {:method => 'get'}) do  %>
    <p>PDC Release for Released Package</p>
    <p><%= collection_select(:rp, :pv_or_pr_id, @pdc_releases, :id, :pdc_id, { :selected=>@pdc_release.try(:id) }, :class=>'eso-chosen-select') %> </p>
    <p>Brew Build NVR</p>
    <p><%= text_field(:rp, :nvr, :value=>@brew_build.try(:nvr), :style=>'width:30em;') %></p>
    <p><%= submit_tag('Get Listing', :class=>'btn btn-primary') %></p>
<% end %>
<%= page_title_h1 %>

<p><%= br_separated @statements %></p>
<% if @brew_error.present? %>
    <div class="alert alert-error">
      Brew reported an error:<br/>
      <%= @brew_error %>
    </div>
<% elsif @listing %>
    <% if !@cached_listings_match && @cached_listing %>
        <div class="alert alert-error">
          Cached listing does not match that from Brew.
        </div>
        <p>
          The latest product listing from Brew is shown below.
        </p>
    <% end %>
    <%= render_pdc_product_listing_table(@listing, @brew_build) %>
<% end %>
